name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        # For more robust CI/CD, using dedicated actions is often simpler
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Use the root directory as the build context
          file: ./Dockerfile # Specify the Dockerfile path
          push: true # Enable the push to the registry
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text:latest # Tag the image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src/main/nginx # Use the root directory as the build context
          file: ./src/main/nginx/Dockerfile # Specify the Dockerfile path
          push: true # Enable the push to the registry
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text_nginx:latest # Tag the image
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Copy files to EC2 via SCP
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "docker-compose.yml, .env, app-folder" # Comma-separated list of files/folders to copy
        target: "/home/${{ secrets.EC2_USERNAME }}/app" # Destination path on the EC2 instance

    - name: Set permissions for private key
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
        chmod 600 key.pem

    - name: Pull Docker image and run container on EC2
      run: |
        # SSH into EC2 instance and run deployment commands
        ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} '
          docker stop $(docker ps -a -q)
          docker rm $(docker ps -a -q)
          docker rmi $(docker images -a -q)
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text:latest
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text_nginx:latest
          cd /home/${{ secrets.EC2_USERNAME }}/app
          sudo docker compose up -d --force-recreate
        '
