name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        # For more robust CI/CD, using dedicated actions is often simpler
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Use the root directory as the build context
          file: ./Dockerfile # Specify the Dockerfile path
          push: true # Enable the push to the registry
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text:latest # Tag the image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src/main/nginx # Use the root directory as the build context
          file: ./src/main/nginx/Dockerfile # Specify the Dockerfile path
          push: true # Enable the push to the registry
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/speech_to_text:latest # Tag the image

